{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{% comment %}
  Renders a product thumbnail link.

  Accepts:
  - media: {Object} Product Media object
  - loading: {Boolean} Image should be loaded eager or lazy.

  Usage:
  {% render 'product-thumbnail',
    media: media,
    loading: 'lazy' | 'eager'
  %}
{% endcomment %}

{%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
  {% comment %} Video thumbnail {% endcomment %}
  <a href="{% if media.media_type == 'video' %}{{ media.sources[1].url }}{% else %}{{ media | external_video_url }}{% endif %}">
    <div
      class="media play-icon"
      style="--width: {{ media.preview_image.width }}; --height: {{ media.preview_image.height }};"
    >
      {{
        media.preview_image
        | image_url: width: 1440
        | image_tag:
          widths: '360, 450, 540, 630, 720, 900, 1050, 1200, 1320, 1440',
          sizes: '(min-width: 1200px) 269px, (min-width: 990px) calc(25vw - 30px - 96px), (min-width: 750px) calc(50vw - 30px - 32px), calc(100vw - 30px)',
          loading: loading,
          alt: media.preview_image.alt
        | escape
      }}
    </div>
    <span class="visually-hidden">{{ 'accessibility.video_exit_message' | t: title: product.title | escape }}</span>
  </a>
{%- elsif media.media_type == 'model' -%}
  {% comment %} 3D model thumbnail {% endcomment %}
  <product-model class="model-icon" data-label="{{ 'general.media.3d' | t }}">
    {% comment %} Model poster image/button {% endcomment %}
    <button
      id="Deferred-Poster-{{ media.id }}"
      type="button"
      style="--width: {{ media.preview_image.width }}; --height: {{ media.preview_image.height }};"
    >
      <div style="--width: {{ media.preview_image.width }}; --height: {{ media.preview_image.height }};">
        {{
          media.preview_image
          | image_url: width: 1440
          | image_tag:
            widths: '360, 450, 540, 630, 720, 900, 1050, 1200, 1320, 1440',
            sizes: '(min-width: 1200px) 269px, (min-width: 990px) calc(25vw - 30px - 96px), (min-width: 750px) calc(50vw - 30px - 32px), calc(100vw - 30px)',
            alt: media.preview_image.alt
          | escape
        }}
      </div>
    </button>
    {% comment %} Model media {% endcomment %}
    <template>
      {{ media | media_tag: image_size: '2048x', toggleable: true }}
    </template>
  </product-model>
  {% comment %} View in your space button {% endcomment %}
  <button
    class="xr-button"
    type="button"
    aria-label="{{ 'products.product.xr_button_label' | t }}"
    data-shopify-xr
    data-shopify-model3d-id="{{ media.id }}"
    data-shopify-title="title"
    data-shopify-xr-hidden
  >
    {{ 'products.product.xr_button' | t }}
  </button>
{%- else -%}
  {% comment %} Image thumbnail {% endcomment %}
  <a href="{{ media | image_url }}">
    <div
      class="media"
      style="--width: {{ media.preview_image.width }}; --height: {{ media.preview_image.height }};"
    >
      {{
        media.preview_image
        | image_url: width: 1440
        | image_tag:
          widths: '360, 450, 540, 630, 720, 900, 1050, 1200, 1320, 1440',
          sizes: '(min-width: 1200px) 269px, (min-width: 990px) calc(25vw - 30px - 96px), (min-width: 750px) calc(50vw - 30px - 32px), calc(100vw - 30px)',
          loading: loading,
          alt: media.preview_image.alt
        | escape
      }}
    </div>
  </a>
{%- endif -%}
