{% comment %}
  Renders a product card.  Can be used in a grid or on its own.

  Usage:
  <ul class="container grid" class="list-unstyled" role="list">
    {%- for product in collection.products -%}
      <li>
        {% render 'product-card', card_product: product %}
      </li>
    {%- endfor -%}
  </ul>

  Accepts:
  - card_product: {Product object}
{% endcomment %}

<div class="card">
  <div
    class="media"
    style="--width: {{ card_product.featured_image.width }}; --height: {{ card_product.featured_image.height }};"
  >
    {% unless card_product.featured_image.src == blank %}
      {{
        card_product.featured_image.src
        | image_url: width: 1440
        | image_tag:
          widths: '360, 450, 540, 630, 720, 900, 1050, 1200, 1320, 1440',
          sizes: '(min-width: 1200px) 269px, (min-width: 990px) calc(25vw - 30px - 96px), (min-width: 750px) calc(50vw - 30px - 32px), calc(100vw - 30px)',
          alt: card_product.featured_image.alt,
          loading: 'lazy'
        | escape
      }}
    {% endunless %}
  </div>

  <h2 class="h4">
    <a href="{{ card_product.url }}">{{ card_product.title }}</a>
  </h2>

  <p>
    <span class="visually-hidden">{{ 'accessibility.by' | t }}</span>
    <small>{{ card_product.vendor | escape }}</small>
  </p>

  {%- render 'price', product: card_product -%}
</div>
