<footer class="footer">
  <div class="container">
    {% comment %} Newsletter {% endcomment %}
    <div>
      <h2>{{ 'general.newsletter.heading' | t }}</h2>
      {%- form 'customer' -%}
        <label for="NewsletterEmail--{{ section.id }}">{{ 'general.newsletter.email' | t }}</label>
        <input
          id="NewsletterEmail--{{ section.id }}"
          type="email"
          name="contact[email]"
          value="{{ form.email }}"
          aria-required="true"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          required
          {% if form.errors %}
            autofocus
            aria-invalid="true"
            aria-describedby="NewsletterError--{{ section.id }}"
          {% elsif form.posted_successfully? %}
            aria-describedby="NewsletterSuccess--{{ section.id }}"
          {% endif %}
        >
        {%- if form.errors -%}
          <small id="NewsletterError--{{ section.id }}" class="message-error">
            {{- form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email -}}
          </small>
        {%- elsif form.posted_successfully? -%}
          <small id="NewsletterSuccess--{{ section.id }}" class="message-success" tabindex="-1" autofocus>
            {{- 'general.newsletter.success' | t -}}
          </small>
        {%- endif -%}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <button type="submit">{{ 'general.newsletter.subscribe' | t }}</button>
      {%- endform -%}
    </div>

    <div class="grid">
      {% comment %} Country selector {% endcomment %}
      {%- if localization.available_countries.size > 1 -%}
        {%- form 'localization' -%}
          <label for="CountryList--{{ section.id }}">{{ 'general.localization.country.label' | t }}</label>
          <select name="country_code" id="CountryList--{{ section.id }}">
            {%- for country in localization.available_countries -%}
              <option
                value="{{ country.iso_code }}"
                {%- if country.iso_code == localization.country.iso_code %}
                  selected
                {% endif -%}
              >
                {{
                  'general.localization.country.option_label'
                  | t:
                    name: country.name,
                    currency_iso_code: country.currency.iso_code,
                    currency_symbol: country.currency.symbol
                }}
              </option>
            {%- endfor -%}
          </select>
          <button type="submit">{{ 'general.localization.country.update' | t }}</button>
        {%- endform -%}
      {%- endif -%}

      {% comment %} Language selector {% endcomment %}
      {%- if localization.available_languages.size > 1 -%}
        {%- form 'localization' -%}
          <label for="LanguageList--{{ section.id }}">{{ 'general.localization.language.label' | t }}</label>
          <select name="locale_code" id="LanguageList--{{ section.id }}">
            {%- for language in localization.available_languages -%}
              <option
                value="{{ language.iso_code }}"
                lang="{{ language.iso_code }}"
                {%- if language.iso_code == localization.language.iso_code %}
                  selected
                {% endif %}
              >
                {{ language.endonym_name | capitalize }}
              </option>
            {%- endfor -%}
          </select>
          <button type="submit">{{ 'general.localization.language.update' | t }}</button>
        {%- endform -%}
      {%- endif -%}

      {% comment %} Social media icons {% endcomment %}
      <ul class="list-unstyled" role="list">
        {%- if settings.social_twitter_link != blank -%}
          <li>
            <a href="{{ settings.social_twitter_link }}">{{ 'general.social.links.twitter' | t }}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_facebook_link != blank -%}
          <li>
            <a href="{{ settings.social_facebook_link }}">{{ 'general.social.links.facebook' | t }}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_pinterest_link != blank -%}
          <li>
            <a href="{{ settings.social_pinterest_link }}">{{ 'general.social.links.pinterest' | t }}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_instagram_link != blank -%}
          <li>
            <a href="{{ settings.social_instagram_link }}">{{ 'general.social.links.instagram' | t }}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_tiktok_link != blank -%}
          <li>
            <a href="{{ settings.social_tiktok_link }}">{{ 'general.social.links.tiktok' | t }}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_tumblr_link != blank -%}
          <li>
            <a href="{{ settings.social_tumblr_link }}">{{ 'general.social.links.tumblr' | t }}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_snapchat_link != blank -%}
          <li>
            <a href="{{ settings.social_snapchat_link }}">{{ 'general.social.links.snapchat' | t }}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_youtube_link != blank -%}
          <li>
            <a href="{{ settings.social_youtube_link }}">{{ 'general.social.links.youtube' | t }}</a>
          </li>
        {%- endif -%}
        {%- if settings.social_vimeo_link != blank -%}
          <li>
            <a href="{{ settings.social_vimeo_link }}">{{ 'general.social.links.vimeo' | t }}</a>
          </li>
        {%- endif -%}
      </ul>

      {% comment %} Payment logos {% endcomment %}
      <ul>
        {%- for type in shop.enabled_payment_types -%}
          <li>
            {{ type | payment_type_svg_tag }}
          </li>
        {%- endfor -%}
      </ul>

      {% comment %} Copyright {% endcomment %}
      <p>
        <span>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url }}</span>
        <span>{{ powered_by_link }}</span>
      </p>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name"
}
{% endschema %}
