{{ 'component-card.css' | asset_url | stylesheet_tag }}

<div class="container">
  <h1>{{ 'general.search.search' | t }}</h1>

<predictive-search>
  <form action="{{ routes.search_url }}" method="get" role="search">
    <label for="Search">{{ 'general.search.search' | t }}</label>
    <input
      id="Search"
      type="search"
      name="q"
      value="{{ search.terms | escape }}"
      role="combobox"
      aria-expanded="false"
      aria-owns="predictive-search-results"
      aria-controls="predictive-search-results"
      aria-haspopup="listbox"
      aria-autocomplete="list"
    >
    <input name="options[prefix]" type="hidden" value="last">

    <div id="predictive-search" tabindex="-1"></div>
  </form>
</predictive-search>
</div>

{% if search.performed %}
  <div class="container">
    <h2>{{ 'general.search.results' | t: terms: search.terms, count: search.results_count }}</h2>
  </div>
{% endif %}

{% if search.results == empty and search.filters == empty %}
  <div class="container">
    {% if search.performed %}
      <p>{{ 'general.search.no_results' | t }}</p>
    {% else %}
      <p>{{ 'general.search.no_terms' | t }}</p>
    {% endif %}
  </div>
{% elsif search.results.size == 0 and search.filters != empty %}
  {% render 'filter-and-sort', results: search %}

  <div class="container">
    {%- liquid
      assign sort_by = search.sort_by | default: search.default_sort_by
      assign terms = search.terms | escape
      assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
    -%}

    <p>{{ 'products.facets.use_fewer_filters_html' | t: link: search_url }}</p>
  </div>
{% else %}
  {% render 'filter-and-sort', results: search %}

  {%- paginate search.results by 8 -%}
    <div class="container">
      <ul class="grid list-unstyled" role="list">
        {%- for item in search.results -%}
          {%- case item.object_type -%}
            {%- when 'product' -%}
              <li>
                {% render 'product-card', card_product: item %}
              </li>
            {%- when 'article' -%}
              <li>
                <div class="card">
                  {%- if article.image -%}
                    <div
                      class="media"
                      style="--width: {{ article.image.width }}; --height: {{ article.image.height }};"
                    >
                      {{ article.image | image_url: width: article.image.width | image_tag }}
                    </div>
                  {%- endif -%}
                  <h2>
                    <a href="{{ item.url }}">
                      {{- item.object_type | capitalize }}: {{ item.title | truncate: 50 | escape -}}
                    </a>
                  </h2>
                </div>
              </li>
            {%- when 'page' -%}
              <li>
                <div class="card">
                  <h2>
                    <a href="{{ item.url }}">
                      {{- item.object_type | capitalize }}: {{ item.title | truncate: 50 | escape -}}
                    </a>
                  </h2>
                </div>
              </li>
          {%- endcase -%}
        {%- endfor -%}
      </ul>
    </div>
    {% render 'pagination', paginate: paginate %}
  {%- endpaginate -%}
{% endif %}
