<article>
  <div class="container">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'featured_image' -%}
          {%- if article.image -%}
            <div class="media" style="--width: {{ article.image.width }}; --height: {{ article.image.height }};">
              {{ article.image | image_url: width: article.image.width | image_tag }}
            </div>
          {%- endif -%}
        {%- when 'title' -%}
          <h1>{{ article.title | escape }}</h1>
        {%- when 'details' -%}
          <p>{{ article.published_at | time_tag: format: 'date' }}</p>
          <p>{{ article.author }}</p>
        {%- when 'content' -%}
          {{ article.content }}
      {%- endcase -%}
    {%- endfor -%}

    <p>
      <a href="{{ blog.url }}">
        {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
      </a>
    </p>

    {%- if blog.comments_enabled? -%}
      <div>
        <div id="comments">
          {%- if article.comments_count > 0 -%}
            {%- assign anchorId = '#Comments-' | append: article.id -%}

            <h2 id="Comments-{{ article.id }}" tabindex="-1">
              {{ 'blogs.article.comments' | t: count: article.comments_count }}
            </h2>
            {% paginate article.comments by 5 %}
              <div>
                {%- if comment.status == 'pending' and comment.content -%}
                  <article id="{{ comment.id }}">
                    {{ comment.content }}
                    <footer>
                      <span>{{ comment.author }}</span>
                    </footer>
                  </article>
                {%- endif -%}

                {%- for comment in article.comments -%}
                  <article id="{{ comment.id }}">
                    {{ comment.content }}
                    <footer>
                      <span>{{ comment.author }}</span><span>{{ comment.created_at | time_tag: format: 'date' }}</span>
                    </footer>
                  </article>
                {%- endfor -%}
                {% render 'pagination', paginate: paginate, anchor: anchorId %}
              </div>
            {% endpaginate %}
          {%- endif -%}
          {% form 'new_comment', article %}
            {%- liquid
              assign post_message = 'blogs.article.success'
              if blog.moderated? and comment.status == 'unapproved'
                assign post_message = 'blogs.article.success_moderated'
              endif
            -%}
            <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
            {%- if form.errors -%}
              <div role="alert">
                <h3 tabindex="-1" autofocus>
                  {{ 'templates.contact.form.error_heading' | t }}
                </h3>
              </div>
              <ul>
                {%- for field in form.errors -%}
                  <li>
                    <a href="#CommentForm-{{ field }}" class="link">
                      {%- if form.errors.translated_fields[field] contains 'author' -%}
                        {{ 'blogs.article.name' | t }}
                      {%- elsif form.errors.translated_fields[field] contains 'body' -%}
                        {{ 'blogs.article.message' | t }}
                      {%- else -%}
                        {{ form.errors.translated_fields[field] }}
                      {%- endif -%}
                      {{ form.errors.messages[field] }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- elsif form.posted_successfully? -%}
              <div role="status">
                <h3 tabindex="-1" autofocus>{{ post_message | t }}</h3>
              </div>
            {%- endif -%}

            <div>
              <div>
                <div>
                  <input
                    type="text"
                    name="comment[author]"
                    id="CommentForm-author"
                    autocomplete="name"
                    value="{{ form.author }}"
                    aria-required="true"
                    required
                    {% if form.errors contains 'author' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-author-error"
                    {% endif %}
                    placeholder="{{ 'blogs.article.name' | t }}"
                  >
                  <label for="CommentForm-author">
                    {{- 'blogs.article.name' | t }}
                    <span aria-hidden="true">*</span></label
                  >
                  {%- if form.errors contains 'author' -%}
                    <small id="CommentForm-author-error">
                      <span>
                        {{- 'blogs.article.name' | t }}
                        {{ form.errors.messages.author }}.</span
                      >
                    </small>
                  {%- endif -%}
                </div>
                <div class="field field--with-error">
                  <input
                    type="email"
                    name="comment[email]"
                    id="CommentForm-email"
                    autocomplete="email"
                    value="{{ form.email }}"
                    autocorrect="off"
                    autocapitalize="off"
                    aria-required="true"
                    required
                    {% if form.errors contains 'email' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-email-error"
                    {% endif %}
                    placeholder="{{ 'blogs.article.email' | t }}"
                  >
                  <label for="CommentForm-email">
                    {{- 'blogs.article.email' | t }}
                    <span aria-hidden="true">*</span></label
                  >
                  {%- if form.errors contains 'email' -%}
                    <small id="CommentForm-email-error">
                      <span>
                        {{- 'blogs.article.email' | t }}
                        {{ form.errors.messages.email }}.</span
                      >
                    </small>
                  {%- endif -%}
                </div>
              </div>
              <div>
                <textarea
                  rows="5"
                  name="comment[body]"
                  id="CommentForm-body"
                  aria-required="true"
                  required
                  {% if form.errors contains 'body' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-body-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.message' | t }}"
                >{{ form.body }}</textarea>
                <label for="CommentForm-body">
                  {{- 'blogs.article.message' | t }}
                  <span aria-hidden="true">*</span></label
                >
              </div>
              {%- if form.errors contains 'body' -%}
                <small id="CommentForm-body-error">
                  <span>
                    {{- 'blogs.article.message' | t }}
                    {{ form.errors.messages.body }}.</span
                  >
                </small>
              {%- endif -%}
            </div>
            {%- if blog.moderated? -%}
              <p>{{ 'blogs.article.moderated' | t }}</p>
            {%- endif -%}
            <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">
          {% endform %}
        </div>
      </div>
    {%- endif -%}
  </div>
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: article.image.width | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "details",
      "name": "t:sections.main-article.blocks.details.name",
      "limit": 1
    }
  ]
}
{% endschema %}
