{{ 'product.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign featured_media = product.selected_or_first_available_variant.featured_media
  assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif
  assign first_3d_model = product.media | where: 'media_type', 'model' | first
-%}

{%- if first_3d_model -%}
  <link
    id="ModelViewerStyle"
    rel="stylesheet"
    href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
    media="print"
    onload="this.media='all'"
  >
{%- endif -%}

<div class="product">
  <div class="grid container">
    {% comment %} Product media {% endcomment %}
    <media-gallery id="Product-MediaGallery-{{ section.id }}">
      <a class="skip-to-content-link visually-hidden" href="#ProductInfo-{{ section.id }}">
        {{ 'accessibility.skip_to_product_info' | t }}
      </a>
      <ul class="product-media grid list-unstyled" role="list">
        {%- unless featured_media == null -%}
          <li data-media-id="{{ section.id }}-{{ featured_media.id }}">
            {% render 'product-thumbnail', media: featured_media, loading: 'eager' %}
          </li>
        {%- endunless -%}
        {%- for media in product.media -%}
          {%- unless media.id == featured_media.id -%}
            <li data-media-id="{{ section.id }}-{{ media.id }}">
              {%- liquid
                assign media_position = media_position | default: 0 | plus: 1
                assign loading = 'eager'
                if media_position > 1
                  assign loading = 'lazy'
                endif
                render 'product-thumbnail', media: media, loading: loading
              -%}
            </li>
          {%- endunless -%}
        {%- endfor -%}
      </ul>
    </media-gallery>
    {% comment %} Product info {% endcomment %}
    <div id="Product-Info-{{ section.id }}">
      {%- assign product_form_id = 'Product-Form-' | append: section.id -%}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'text' -%}
            <p {{ block.shopify_attributes }}>
              {{ block.settings.text }}
            </p>
          {%- when 'title' -%}
            <h1 {{ block.shopify_attributes }}>
              {{ product.title | escape }}
            </h1>
          {%- when 'price' -%}
            <div
              id="Price-{{ section.id }}"
              class="no-js-hidden"
              role="status"
              {{ block.shopify_attributes }}
            >
              {%- render 'price', product: product, use_variant: true, show_badges: true -%}
            </div>
            {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
              <div>
                {%- if cart.taxes_included -%}
                  {{ 'products.product.include_taxes' | t }}
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank -%}
                  {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- endif -%}
              </div>
            {%- endif -%}
            <div {{ block.shopify_attributes }}>
              {%- assign installment_id = 'Installment-' | append: section.id -%}
              {%- form 'product', product, id: installment_id -%}
                <input
                  type="hidden"
                  name="id"
                  value="{{ product.selected_or_first_available_variant.id }}"
                >
                {{ form | payment_terms }}
              {%- endform -%}
            </div>
          {%- when 'quantity_selector' -%}
            <div {{ block.shopify_attributes }}>
              <label for="Quantity-{{ section.id }}">
                {{ 'products.product.quantity.label' | t }}
              </label>
              <input
                type="number"
                name="quantity"
                id="Quantity-{{ section.id }}"
                min="1"
                value="1"
                form="{{ product_form_id }}"
              >
            </div>
          {%- when 'variant_picker' -%}
            {%- unless product.has_only_default_variant -%}
              <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
                {%- for option in product.options_with_values -%}
                  <div>
                    <label for="Option-{{ section.id }}-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <select
                      id="Option-{{ section.id }}-{{ forloop.index0 }}"
                      name="options[{{ option.name | escape }}]"
                      form="{{ product_form_id }}"
                    >
                      {%- for value in option.values -%}
                        <option
                          value="{{ value | escape }}"
                          {% if option.selected_value == value %}
                            selected="selected"
                          {% endif %}
                        >
                          {{ value }}
                        </option>
                      {%- endfor -%}
                    </select>
                  </div>
                {%- endfor -%}

                <script type="application/json">
                  {{ product.variants | json }}
                </script>
              </variant-selects>

              <noscript>
                <div>
                  <label for="Variants-{{ section.id }}">
                    {{ 'products.product.product_variants' | t }}
                  </label>

                  <select
                    name="id"
                    id="Variants-{{ section.id }}"
                    form="{{ product_form_id }}"
                  >
                    {%- for variant in product.variants -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}
                          selected="selected"
                        {% endif %}
                        {% if variant.available == false %}
                          disabled
                        {% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %}
                          - {{ 'products.product.sold_out' | t -}}
                        {%- endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                </div>
              </noscript>
            {%- endunless -%}
          {%- when 'buy_buttons' -%}
            <product-form {{ block.shopify_attributes }}>
              <div class="message-error" role="alert" hidden></div>

              {%- form 'product',
                product,
                id: product_form_id,
                class: 'product-form',
                novalidate: 'novalidate',
                data-type: 'add-to-cart-form'
              -%}
                <input
                  type="hidden"
                  name="id"
                  value="{{ product.selected_or_first_available_variant.id }}"
                  disabled
                >
                <div>
                  <button
                    type="submit"
                    name="add"
                    class="button"
                    {% if product.selected_or_first_available_variant.available == false %}
                      disabled
                    {% endif %}
                  >
                    <span>
                      {%- if product.selected_or_first_available_variant.available -%}
                        {{ 'products.product.add_to_cart' | t }}
                      {%- else -%}
                        {{ 'products.product.sold_out' | t }}
                      {%- endif -%}
                    </span>

                  </button>

                  {% comment %} Dynamic checkout buttons {% endcomment %}
                  {% if block.settings.show_dynamic_checkout %}
                    {{ form | payment_button }}
                  {% endif %}
                  {% comment %} Gift card recipient form {% endcomment %}
                  {% if block.settings.show_gift_card_recipient and product.gift_card? %}
                    {% render "gift-card-recipient-form" %}
                  {% endif %}
                </div>
              {%- endform -%}
            </product-form>
          {%- when 'description' -%}
            {%- unless product.description == blank -%}
              <div {{ block.shopify_attributes }}>
                {{ product.description }}
              </div>
            {%- endunless -%}
          {%- when 'rating' -%}
            {%- unless product.metafields.reviews.rating.value == blank -%}
              <p class="rating">
                {{-
                  'products.product.star_reviews_info'
                  | t:
                    rating_value: product.metafields.reviews.rating.value,
                    rating_max: product.metafields.reviews.rating.value.scale_max
                }}
                <span>
                  {{- product.metafields.reviews.rating_count }}
                  {{ 'products.product.total_reviews' | t -}}
                </span>
              </p>
            {%- endunless -%}
          {%- when 'pickup_availability' -%}
            {% comment %}
              Pickup availability block's contents are rendered async to ensure faster Liquid render times, but this may cause a noticeable increase in cumulative layout shift (CLS) if rendered near the top of the page.
              To mitigate CLS, the contents of `pickup-availability.liquid` could alternatively be rendered directly in this Liquid file.
            {% endcomment %}
            <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
            <pickup-availability data-product-variant="{{ product.selected_or_first_available_variant.id }}">
              {% comment %}
                Error template is rendered if async request for pickup availability fails
              {% endcomment %}
              <template>
                <p class="message-error">{{ 'products.pickup_availability.error' | t }}</p>
              </template>
            </pickup-availability>
          {%- when 'complementary' -%}
            <product-recommendations data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&intent=complementary">
              {%- if recommendations.performed and recommendations.products_count > 0 -%}
                <h3>{{ block.settings.block_heading }}</h3>
                <ul class="list-unstyled" role="list">
                  {%- for product in recommendations.products -%}
                    <li>
                      {% render 'product-card', card_product: product %}
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </product-recommendations>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>

  {%- if first_3d_model -%}
    <script type="application/json" id="Product-JSON-{{ product.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
    <script src="{{ 'product-model.js' | asset_url }}" defer></script>
  {%- endif -%}
</div>

<script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'variant-selects.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      "image": [
        {{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          {%- if variant.barcode.size == 12 -%}
            "gtin12": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 13 -%}
            "gtin13": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 14 -%}
            "gtin14": {{ variant.barcode }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>
{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": false,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
        }
        ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "pickup_availability",
      "name": "Pickup availability",
      "limit": 1
    },
    {
      "type": "complementary",
      "name": "t:sections.main-product.blocks.complementary_products.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.complementary_products.settings.paragraph.content"
        },
        {
          "type": "text",
          "id": "block_heading",
          "default": "Pairs well with",
          "label": "t:sections.main-product.blocks.complementary_products.settings.heading.label"
        }
      ]
    }
  ],
  "settings": []
}
{% endschema %}
